@import "tailwindcss";

:root {
  --primary-color: #236053;
  --secondary-color: #ff6b30;
  --black: #000000;
  --foreground: rgb(255, 255, 255);
  --background: #f8eadc;
  --btn-color: #2563eb;
  --border-color: #404040;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-open-sans: "Open Sans", sans-serif;
}


@theme inline {
  --secondary-color: var(--secondary-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border-color);
  --color-btn: var(--btn-color);
  --color-black: var(--black);
  --font-cormorant: var(--font-cormorant);
  --font-open-sans: var(--font-open-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cormorant Garamond", serif;
  font-family: 'open sans', sans-serif;
  background-color: var(--background);
}

.fluid-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body,
html,
a,
button,
[role="button"] {
  cursor: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

em {
  background-repeat: no-repeat;
  transition: background-size .9s cubic-bezier(.15, .75, .4, 1), opacity .25s ease;
  background-position: left 90%;
  background-size: 100% 28%;
  background-image: linear-gradient(to right, #ff6b30 0, rgba(255, 107, 48, 0.01) 100%);
  position: relative;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  line-height: 1em;
  padding: 0 3px;
}

em.animated.link {
  background-size: 100% 3px, 0% 80%;
  background-image: linear-gradient(to right, #ff6b30 0, #f8eadc 100%), linear-gradient(to right, #ff6b30 0, #f8eadc 100%);
}

em.animated.link:hover {
  background-size: 100% 3px, 100% 80%;
  color: var(--color-white);
}

section {
  padding-top: 150px;

  @media screen and (max-width: 1023px) {
    padding-top: 50px;
  }

  /* height: 100vh; */
}


.main_bannerHeading,
.main_heading,
.main_medHeading,
.main_smallHeading {
  font-size: 92px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: -2px;
  color: var(--black);
  font-family: "Cormorant Garamond", serif;
}

@media screen and (max-width: 1023px) {
  .main_bannerHeading {
    font-size: 48px;
  }
}

.main_heading {
  font-size: 74px;

  @media screen and (max-width: 1023px) {
    font-size: 50px;
  }

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: normal;
  }
}

.main_medHeading {
  font-size: 40px;

  @media screen and (max-width: 1023px) {
    font-size: 32px;
    line-height: 50px;
  }
}

.main_smallHeading {
  font-size: 28px;

  @media screen and (max-width: 1023px) {
    font-size: 24px;

  }
}

.main_subHeading {
  color: var(--black);
  display: block;
  letter-spacing: 2px;
  line-height: 14px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.main_paragraph {
  color: var(--black);
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  margin-top: 30px;
  font-family: var(--font-open-sans);
}

::selection {
  background-color: #ff6b30;
  color: white;
}

.main_btn {
  margin-top: 35px;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  /* background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 0 10px 0 10px;
  min-height: 50px; 
  border: 1px solid var(--foreground); */
}

.main_btn span {
  background-color: var(--black);
  height: 1px;
  width: 30px;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

.main_btn:hover span {
  width: 0;
  margin: 0;
}

.masked-text {
  position: relative;
  -webkit-mask-image: linear-gradient(90deg,
      black 0%,
      black 25%,
      transparent 50%);
  mask-image: linear-gradient(90deg, black 0%, black 25%, transparent 50%);
  -webkit-mask-size: 320% 100%;
  mask-size: 320% 100%;
  -webkit-mask-position: left;
  mask-position: left;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  animation: revealText 2.5s ease-in-out forwards;
}

@keyframes revealText {
  0% {
    -webkit-mask-position: right;
    mask-position: right;
    filter: blur(8px);
    opacity: 0.2;
  }

  50% {
    filter: blur(4px);
    opacity: 0.7;
  }

  100% {
    -webkit-mask-position: left;
    mask-position: left;
    filter: blur(0);
    opacity: 1;
  }
}

.textSlider {
  transform: translateX(20%) translateZ(0);
  animation: text-animation-reverse linear infinite 25s;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes text-animation-reverse {

  0%,
  100% {
    transform: translateX(0%) translateZ(0);
  }

  60% {
    transform: translateX(50%) translateZ(0);
  }
}